<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922053214975-jl0vdfq760act51fgg60gra6mlt22fck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922053214975-jl0vdfq760act51fgg60gra6mlt22fck</string>
	<key>API_KEY</key>
	<string>AIzaSyAXZ12VztI_K9oOHERrr6jLL_WzvP3Rx1o</string>
	<key>GCM_SENDER_ID</key>
	<string>922053214975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.judgeABookByItsCover</string>
	<key>PROJECT_ID</key>
	<string>judge-a-book-ac558</string>
	<key>STORAGE_BUCKET</key>
	<string>judge-a-book-ac558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922053214975:ios:f413fd0beb449df3e682ca</string>
</dict>
</plist>